spring:
  application:
    name: msvc-orders

  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: postgres
    password: 100juanU
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  cloud:
    stream:
      bindings:
        orderStatusUpdate-out-0:
          destination: order-status-events
          content-type: application/json
          binder: rabbit


server:
  port: 8085

logging:
  level:
    com.springcloud.msvc_items.infrastructure.integration.client.InventoryFeignClient: DEBUG

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true